@charset "UTF-8";
@font-face {
    font-family: GothamBook;
    src: url(../fonts/GothamBookRegular.otf);
}
@font-face {
    font-family: 'GothamMedium';
    src: url(../fonts/GothamMedium.otf);
}
/*declaração de variáveis*/
:root{
    --h1-cor: #393c41;
    --h2-cor: #6e7378;
    --btn-dark-bg: rgba(23,26,32,.8);
    --btn-light-bg: rgba(255,255,255,.65);
}
body{
    font-family: 'GothamMedium',Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
}
/*HEADER*/
header{
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}
.left img{
   margin-left: 30px;
}
header ul, header li{
    list-style: none;
    display: flex;
    margin: 0 10px;
}
.middle a, .right a{
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    
}
.right img{
    cursor: pointer;
}

/*MAIN*/
main{
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.info{
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.info h1{
    margin: 0;
    font-size: 40px;
    font-weight: normal;
    color: var(--h1-cor);
}
.info h2{
    font-size: 15px;
    font-family: 'GothamBook',Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: var(--h2-cor);
}
.info h2 a{
    color: var(--h1-cor);
}
/*FOOTER*/
footer{
   position: fixed;
   bottom: 30px;
   right: 0;
   left: 0;
}
footer .botoes-area{
    display: flex;
    justify-content: center;
    
}
footer .botoes-area a{
    display: block;
    text-decoration: none;
    width: 220px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    padding: 15px;
    border-radius: 30px;
    margin: 0 10px;
}
footer .dark-btn {
    background-color: var(--btn-dark-bg);
    color: white;
}
footer .light-btn{
    background-color: var(--btn-light-bg);
    color: black;
}
@keyframes down{
    0%{
        margin: 0;
    }
    50%{
        margin: 15px;
    }
    100%{
        margin: 0;
    }
}
footer .flecha-area{
    display: flex;
    height: 30px;
    justify-content: center;
    margin-top: 30px;
}
.flecha-area img{
    height: 15px;
    animation-name: down;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
